@{
    ViewData["Title"] = "TrangTimKiem";
    Layout = "~/Views/Shared/Layout.cshtml";
    NguoiDung us = ViewBag.us;
    var cmts = ViewBag.cmts;
}

@model IEnumerable<BaiViet>
@Html.AntiForgeryToken()

    <style >
    .input-group_main {
        width: 90%; /* Tăng chiều rộng của thanh tìm kiếm */
        display: flex;
        align-items: center;
        margin-bottom: 30px; /* Tạo khoảng cách dưới thanh tìm kiếm */
    }

    .input-group_main img {
        height: 30px; /* Tăng kích thước icon tìm kiếm */
        margin-left: 20px; /* Thay đổi khoảng cách giữa icon và input */
        margin-right: 15px; /* Tăng khoảng cách giữa icon và input */
    }

    .input-group_main .form-control {
        flex: 1; /* Giúp input chiếm không gian còn lại */
        height: 50px; /* Tăng chiều cao của input */
        font-size: 16px; /* Tăng kích thước chữ trong input */
        padding-left: 15px; /* Thêm khoảng cách bên trái trong input */
        border-radius: 25px; /* Làm góc input tròn */
        border: 1px solid #ccc; /* Thêm viền cho input */
    }

    .form-outline_main {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .search_bar_main {
        width: auto;
        margin-top: 20px; /* Thêm khoảng cách trên cho thanh tìm kiếm */
    }

    /* Chỉnh sửa giao diện bài viết */
    .posts-container {
        margin-top: 50px; /* Tạo khoảng cách giữa thanh tìm kiếm và bài viết */
    }

    .post {
        margin-bottom: 20px; /* Tăng khoảng cách giữa các bài viết */
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 10px;
        background-color: #f9f9f9;
    }

    /* Các phần tử trong bài viết */
    .info .person {
        margin-bottom: 15px; /* Tạo khoảng cách dưới tên người dùng */
    }

    .post_desc p {
        margin-bottom: 15px; /* Tạo khoảng cách dưới nội dung bài viết */
    }

    .icons {
        margin-bottom: 15px; /* Tạo khoảng cách dưới phần icon */
    }

    /* Chỉnh sửa giao diện các phần tử khác trong bài viết */
    .liked {
        margin-top: 10px;
    }

    .comment-section {
        margin-top: 20px; /* Tạo khoảng cách cho phần comment */
    }

</style>



<div class="second_container" style="display:flex;flex-direction:column">

    <div class="search_bar_main">
        <form id="searchForm" method="get" action="@Url.Action("TrangTimKiem")" class="input-group_main">
            <div class="input-group_main">
                <div class="form-outline_main">
                    <div>
                        <img src="../LayoutTrangChu/img/search.png" alt="search" class="search-icon">
                    </div>
                    <input type="search" name="searchQuery" id="form1" class="form-control search-input" placeholder="Search" />

                </div>
            </div>
        </form>

    </div>
    <div class="main_section">

        <div class="posts_container">
            <div class="posts">
                @foreach (var baiViet in Model)
                {
                    <div class="post" id="post-@baiViet.MaBaiViet">
                        <div class="info">
                            <div class="person">
                                <img src="@Url.Content(baiViet.AnhDaiDien)">

                                <a style="text-decoration:none" href="@Url.Action("K_TrangCaNhan", "TrangCaNhan", new { id =  @baiViet.MaNguoiDung})">@baiViet.TenNguoiDung</a>
                                <span class="circle">.</span>
                                <span>@baiViet.NgayTao.ToString()</span>
                                <br />
                                <span style="margin-left: 35px; font-size: small; position: relative; top: -10px;">@baiViet.TenChuDe</span>
                            </div>
                            <div class="more">
                                <img src="../LayoutTrangChu/img/show_more.png" alt="show more">
                            </div>
                        </div>
                        @if (!string.IsNullOrEmpty(baiViet.AnhBaiViet))
                        {
                            <div class="image">
                                <img src="@baiViet.AnhBaiViet">
                            </div>
                        }
                        <div class="desc">
                            <div class="icons">
                                <div class="icon_left d-flex">
                                    <div class="like">
                                        @if (baiViet.IsLiked)
                                        {
                                            <img class="not_loved hide_img button_like" data-mabaiviet="@baiViet.MaBaiViet" data-tennguoidung="@baiViet.MaNguoiDung" src="../LayoutTrangChu/img/love.png">
                                            <img class="loved display button_like" data-mabaiviet="@baiViet.MaBaiViet" data-tennguoidung="@baiViet.MaNguoiDung" src="../LayoutTrangChu/img/heart.png">
                                        }
                                        else
                                        {
                                            <img class="not_loved button_like" data-mabaiviet="@baiViet.MaBaiViet" data-tennguoidung="@baiViet.MaNguoiDung" src="../LayoutTrangChu/img/love.png">
                                            <img class="loved hide_img button_like" data-mabaiviet="@baiViet.MaBaiViet" data-tennguoidung="@baiViet.MaNguoiDung" src="../LayoutTrangChu/img/heart.png">
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="liked">
                                <a style ="text-decoration:none" class="bold" id="like-count-@baiViet.MaBaiViet">@baiViet.SoLuongLike likes</a>
                            </div>
                            <div class="post_desc">
                                <p>
                                    <a style ="text-decoration:none" class="bold" href="#">@baiViet.TenNguoiDung</a> @baiViet.NoiDung
                                </p>
                                <p> Comments </p>


                                <div class="comment-section" data-mabaiviet="@baiViet.MaBaiViet" data-tennguoidung="@baiViet.MaNguoiDung">
                                    <input type="text" class="commentInput" placeholder="Add a comment..." />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <!-- Kết quả tìm kiếm (sẽ được hiển thị sau khi tìm kiếm) -->
    <!-- Followers Container -->
    <div class="followers_container">
        <!-- The followers container content here -->
    </div>


    <style>
        .input-group_main {
            width: 90%;
            display: flex;
            align-items: center;
        }

            .input-group_main img {
                height: 24px;
                margin-left: 200px;
                margin-right: 10px; /* Thêm khoảng cách giữa ảnh và input */
            }

            .input-group_main .form-control {
                flex: 1; /* Giúp input chiếm không gian còn lại */
                height: 100%;
                width: 100%
            }

        .form-outline_main {
            width: 100%;
            display: flex;
            align-items: center;
        }

        .search_bar_main {
            width: auto;
            margin-top: 10px;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        let love_icons = document.querySelectorAll(".like");
        love_icons.forEach(function (icon) {
            icon.addEventListener("click", function () {
                let not_loved = icon.querySelector(".not_loved");
                let loved = icon.querySelector(".loved");

                if (not_loved.classList.contains("hide_img")) {
                    // Nếu "not_loved" đang ẩn, hiện nó và ẩn "loved"
                    not_loved.classList.remove("hide_img");
                    not_loved.classList.add("display");

                    loved.classList.remove("display");
                    loved.classList.add("hide_img");
                } else {
                    // Nếu "not_loved" đang hiện, ẩn nó và hiện "loved"
                    not_loved.classList.remove("display");
                    not_loved.classList.add("hide_img");

                    loved.classList.remove("hide_img");
                    loved.classList.add("display");
                }
            });
        });

        $(document).ready(function () {

            $('.button_like').click(function () {
                var mabaiviet = $(this).data('mabaiviet');
                var tennguoidung = $(this).data('tennguoidung');
                // alert(mabaiviet+"_"+tennguoidung)


                $.post('/TrangCaNhan/LikeEvent', { mabaiviet: mabaiviet, tennguoidung: tennguoidung }, function (response) {
                    if (response.success) {
                        //alert('Done');
                        $('#like-count-' + mabaiviet).text(response.newLikeCount + ' likes');
                    } else {
                        if (response.message == "F") {
                            alert('Fail');

                        }

                    }
                });
            });


            $('.comment-section').on('keypress', '.commentInput', function (event) {
                if (event.key === 'Enter') {
                    event.preventDefault(); // Ngăn chặn hành động mặc định của Enter trong form

                    var commentInput = $(this);
                    var comment = commentInput.val();
                    var parentDiv = commentInput.closest('.comment-section');
                    var mabaiviet = parentDiv.data('mabaiviet');
                    var tennguoidung = parentDiv.data('tennguoidung');
                    //alert(comment + "_" + mabaiviet + "_" + tennguoidung);
                    $.post('/TrangCaNhan/AddComment', { comment: comment, mabaiviet: mabaiviet, tennguoidung: tennguoidung }, function (response) {
                        if (response.success) {
                            // alert('Comment added');
                            commentInput.val(''); // Xóa nội dung trường nhập

                            // Thêm bình luận mới vào giao diện
                            var newComment = '<p><a class="bold" href="#">' + response.tennguoidung + '</a> ' + comment + '</p>';
                            parentDiv.before(newComment); // Thêm bình luận mới vào trước khối comment-section
                        } else {
                            alert('Failed to add comment');
                        }
                    });
                }
            });

        });

        $(document).ready(function () {
            $('.search-input').on('keydown', function (event) {
                if (event.key === 'Enter') {
                    event.preventDefault(); // Ngăn không cho form submit mặc định
                    var searchQuery = $(this).val();
                    $('#searchForm').submit();
                });
        });
      
    </script>
